.customerhome{
    overflow-y:auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    padding: 1%;
    height: 100%;
    background-image:linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)),  url('../../assets/images/coco.jpg');
    background-size: contain;
    align-content: flex-start;

}
.auctionContainer{
    overflow-y:auto;
    display: flex;
    flex-wrap: wrap;
    background-size: contain;
    align-content: flex-start;
    height: 89%;
    padding: 1%;
    gap: 1%;
    width: 100%;
}
.resetBtn{
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height:60%;
    color: white;
}
.resetBtn:hover{
    cursor: pointer;
    background-color: royalblue;
}